body {
    text-align: center;
    font-family: sans-serif;
    margin: 20px;
}

h1 {
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 30px;
}

.btn-container {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    gap: 10px;
    justify-content: center;
    margin: 20px auto;
}

.btn {
    height: 200px;
    width: 200px;
    border-radius: 50%; /* Make them circles */
    border: 8px solid black;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    display: flex; /* Flexbox for centering content */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    font-size: 2rem; /* Adjust font size */
    font-weight: bold; /* Make the numbers bold */
}

.red {
    background-color: #e57373;
}

.yellow {
    background-color: #ffb74d;
}

.green {
    background-color: #81c784;
}

.purple {
    background-color: #9575cd;
}

.flash {
    background-color: white;
}

.userFlash {
    background-color: lightgreen;
}